* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-left: 40px;
}


.piano {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}



.controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.control-btn img{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center
    
}

 .tune-section, .record-section{
    display: flex;
    align-items: center;
    margin-top: 7px;

}
.record-section{
    display: flex;
    align-items: center;
    margin-left: 120px;
}

.play-button img{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
}

