
* {
    margin: 0;

}


p{
    font-family: Arial, Helvetica, sans-serif;
}

#piano {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11px
}

.controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.white-keys{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
}

.black-keys{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
}

.black-key{
    height: 76px;
    width: 100%;
    color:white;
    background-color: black;
}

.white-key{
    height: 96px;
    width: 100%;
    color:#000000;
    background-color: #ffffff;
}
.control-btn img{
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center   
}

 .tune-section, .record-section{
    display: flex;
    align-items: center;
    gap:2px;
    margin-top: 11px;
    margin-left:100px;
}

.tune-selections{
    background-color:#e9e9ed;
    border-radius:2px;
}

.record-section{
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.play-button img{
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
}