* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    align-items:auto;
}


#piano {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
    
}


.controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.white-keys{
    display: flex;
    flex-direction: row;
    width: 78%;
    height: 90%;
}
.black-keys{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 28%;
    height: 90%;
}


.black-key{
    height: 76px;
    width: 100%;
    color:white;
    background-color: black;
}

.white-key{
    
    height: 96px;
    width: 100%;
    color:#000000;
    background-color: #ffffff;
}
.control-btn img{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center
    
}

 .tune-section, .record-section{
    display: flex;
    align-items: center;
    gap:2px;
    margin-top: 11px;
    margin-left:100px



}


.play-button img{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
}