* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    align-items:auto;
}


#piano {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
}


.controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.white-keys {
    display: flex;
    position: relative;
    width: 78%;
    height: 90%;
}

.white-key{
    height: 96px;
    width: 100%;
    color:#000000;
    background-color: #ffffff;
}


.black-keys {
    position: absolute;
    top: 0;
    display: flex;
    z-index: 2;
    align-items: flex-start;
}

.black-key{
    position: relative;
    height: 76px;
    width: 100%;
    color:white;
    background-color: black;
}







.black-keys-left, .black-keys-middle, .black-keys-right {

    display: flex;
    flex-direction: row;
    height: 90%;
}

.black-keys-left {
    margin-right: 200%;
}

.black-keys-middle{
    align-items: middle;
}

.black-keys-right{
    margin-left: 20%;
}

.control-btn img{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center
    
}

 .tune-section, .record-section{
    display: flex;
    align-items: center;
    gap:2px;
    margin-top: 11px;
    margin-left:100px



}


.play-button img{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
}