main {
    display: flex;
    flex-direction: column;
    /*margin: 0;
    padding: 0;*/
    box-sizing: border-box;
}

.controls-container{
    height: 45px;
}

.tune-section, .record-section{
    justify-content: space-between; /*gerir ekkert :(*/
    margin: 0;
    display: flex;
    align-items: center;
    height: 25px; /* Adjust as needed */
    margin-left: 100px;    /*stóra bilið uppi vinstir og milli section-a*/
    gap:2px;
}

.tune-selections{
    gap:20px;/*gerir ekkert */
    justify-content: space-between; /*gerir ekkert */
    display:flex;
    border-radius: 2px;
    background-color: #e9e9ed;/* ------------litur her rettur nuna!!*/
}

p.tune-label, p.record-label{
    font-family: Arial, Helvetica, sans-serif;
    border-right:5px;
}

#piano {
    width: 778px;
    height: 100px;
    flex-direction: row;
}

.controls-container{
    display: flex;

}

tune, record {
    
}

.control-btn img{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center
    
}

button{
    border: solid #979797 2px;
}

.white-key{
    height: 96px;
    width: 75px;
    color:#000000;
    background-color: #ffffff;
}

.black-key{
    overflow:hidden;
    height: 76px;
    width: 43px;
    color:white;
    background-color: black;
}


/*



    
    
}*/
/*


.play-button img{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
}



.record-section{
    display: flex;
    align-items: center;
    margin-top: -61px;
    margin-left: 370px;
    
}

.tune-label {
    margin-right: 8px; /* Adjust the spacing as needed 
}





} */